body {
	margin: 0pt;
	font-color: #000000;
	font-family: Arial, sans-serif, verdana;	
	font-size: 10pt;
	background: #fffff8;
}

table { 
	font-size: 10pt;
}

div { 
	font-size: 10pt;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: #4c4c7e;
}

a:hover {
	text-decoration: underline;
	color: #aa0000;
}

ul { 
	list-style: square; 
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 16pt;
}
	
li {
	padding-top: 2pt;
	padding-bottom: 2pt;
}

hr { 
	border: 0;
	height: 1px;
}

#fb_tab { 
	padding: 8pt 12pt 8pt 12pt;
	background: #efefdf; 
	color: #aa0000; 
	border-bottom: 1px solid #8f8f8f; 
	width: auto;
	height: 20pt;
} 

#fb_tab_l, #fb_tab_r { 
	font-weight: bold; 
	font-size: 12pt; 
	vertical-align: middle; 
} 

#fb_tab_l { 
	text-align: left; 
	float: left; 
} 

#fb_tab_r { 
	text-align: right; 
	float: right; 
} 

#fb_body_wrapper {
	margin: 0;
	padding: 0;
	width: auto;
}

#fb_pg_body {
	padding: 8pt 12pt 8pt 12pt; 
	width: 100%;
	float: left;
}

.fb_sect_title, .fb_header {
	padding-top: 4pt;
	margin-bottom: -10pt;
	font-weight: bold;	
	text-decoration: underline;
}

.fb_sect_cont {
	padding-bottom: 4pt;
	margin-left: 16pt;
	text-align: left;
	width: auto;
}

.fb_sect_cont ul {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 16pt;
}

#fb_pg_wrapper {
	margin: 0;
	padding: 0;
	width: auto;
	float: left;
}

.fb_box {
	width: 100%;
	padding: 0pt;
	border: 1px solid #8f8f8f;
	background: #efefdf;	
}

.fb_box td {
	width: 45%;
	padding: 16pt 8pt 6pt 8pt;
	background: #efefdf;
	vertical-align: top;
}

.fb_table {
	margin: 8pt 14pt 8pt -1px;
}

.fb_table td {
	width: auto;
	font-size: 9pt;
	border: solid 1px #8f8f8f;
	background: #efefdf;
	padding: 2pt 2pt 2pt 2pt;
	margin: 0pt 0pt 0pt 0pt;
}


.fb_img {
	text-align: center;
	border: 0px;
}

.fb_pre {
	white-space: pre;
	border: solid 1px #8f8f8f;
	background: #efefdf;
	margin: 8pt 14pt 8pt 0pt;
	padding: 12pt;
}

.fb_indent {
	padding-top: 0pt;
	padding-bottom: 0pt;
	padding-left: 0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 10pt;
}

#fb_back {
	background:#efefdf; 
	border: 1px solid #8f8f8f; 
	padding: 4pt 8pt 4pt 8pt;
	margin-top: 4pt;
	float: right;
}

.qbasic {
	background: #efefdf;
	padding: 12pt;
	margin-right: 14pt;
	border: 1px solid #8f8f8f;
}

tt .qbasic {
	font-family: "Couier New", courier, monospace; 
}  

.qbasic .com {color: #606060;}
.qbasic .quo {color: #008000;}
.qbasic .num {color: #800000;}
.qbasic .wrd {color: #000000;}
.qbasic .key {color: #000080;}
.qbasic .def {color: #008000;}
.qbasic .oth {color: #000060;}

.freebasic {
	background: #efefdf;
	padding: 12pt;
	margin-right: 14pt;
	border: 1px solid #8f8f8f;
}

tt .freebasic {
	font-family: "Couier New", courier, monospace; 
}  

.freebasic .com {color: #606060;}
.freebasic .quo {color: #008000;}
.freebasic .num {color: #800000;}
.freebasic .wrd {color: #000000;}
.freebasic .key {color: #000080;}
.freebasic .def {color: #008000;}
.freebasic .oth {color: #000060;}
