*.o
*.a
*.exe
*.dll
*.so
/fbc
/fbc-new
/bin/*
/lib/*/i386go32.x
/lib/*/fbextra.x
/lib/freebas/*
/lib/freebasic/*
/lib64/freebasic/*
/config.mk

/doc/fbdoc/fbdoc
/doc/makefbhelp/makefbhelp
/doc/fbchkdoc/fbchkdoc.ini
