*.o
*.a
*.exe
*.dll
*.so
/fbc
/fbc-new
/bin/*
/lib/*/i386go32.x
/lib/*/fbextra.x
/lib/*/fb_rtlib.js
/lib/*/termlib_min.js
/lib/*/fb_shell.html
/lib/freebas/*
/lib/freebasic/*
/lib64/freebasic/*
/config.mk
/config-post.mk

/doc/fbdoc/fbdoc
/doc/makefbhelp/makefbhelp
/doc/fbchkdoc/fbchkdoc.ini

.vscode
