#include "dialog.bi"

IDD_DLG1 DIALOGEX 6,6,194,102 
CAPTION "HELLO WORLD" 
FONT 8,"MS Sans Serif" 
STYLE 0x10CC0000 
EXSTYLE 0x00000080 
BEGIN
	CONTROL "Click me",IDC_BTN1,"Button",0x50010000,60,57,74,26,0x00000000
END