/* Copyright 1997-2003 W3C (MIT, ERCIM, Keio). All Rights Reserved.
   The following software licensing rules apply:
   http://www.w3.org/Consortium/Legal/copyright-software */


/* This stylesheet is used to give a basic layout for RSS 1.0 feeds */

/* Add it to your RSS feed with

<?xml-stylesheet href="http://www.w3.org/2000/08/w3c-synd/style.css" type="text/css"?>

*/

rss, channel, item, title, description, link
{
  display: block;
}

image, language, managingEditor, webMaster, docs, copyright,
lastBuildDate, pubDate, rating, day, hour,
skipDays, skipHours, textinput, name
{
  display: none;
}

channel, item {
		z-index:1; 
		border:2px solid #eff ; 
		border-right:2px solid #eef ; 
		border-bottom:2px solid #aaf ; 
		padding:5px;
	width:95%;
		margin-top:3px;
		font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	padding-bottom: 10px;
}

RDF {
	max-width:50em;
	min-width:12em;
	display:block;
	margin-right:0;
	margin-left:0;
	padding-right:2%;
	padding-left:2%;
}

channel>title {
  font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size:1.4em;
  padding-bottom:0.5em;
}

channel>description {
  margin-top: 6pt;
  font-style: italic;
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

item>title {
	text-align:left;
		margin-top:5px;
		margin-bottom:3px;
		font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
		font-size:1.2em;
}

date {
		  margin-left: 1em;
}

link {
  text-decoration: underline;
  margin-left: 1em;
  color: #12f;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 11px;
  letter-spacing: 1px;
}

title {
		font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
	font-weight: bold;
	color: #f55;
	font-size: 14px;
}

description {
	font-style: italic;
	font-size: 1.2em;
}