<div align="left">

<core:optional for="showFullPath">
	<html:link url="/codelib" class="menu_link">{$#fb_clib_top}</html:link>&nbsp;
</core:optional>
<core:default for="showFullPath">
	<core:optional for="catid">
		<html:link url="/codelib" class="menu_link">{$#fb_clib_top}</html:link>&nbsp;
	</core:optional>
	<core:default for="catid">
		<span class="menu_link"><u>{$#fb_clib_top}</u></span>&nbsp;
	</core:default>
</core:default>

<list:list id='codelib_catPath'>
	<list:item>
		<b>&gt;</b>
		<core:default for="isLast">
			<html:link url="/codelib" param="catid" class="menu_link">{$name}</html:link>&nbsp;
		</core:default>
		<core:optional for="isLast">
			<span class="menu_link"><u>{$name}</u></span><br />
			<div class="cl_path_desc">{$desc}</div>
		</core:optional>
	</list:item>
</list:list>
</div>



