	<ul>
	<list:list id='fbHeadList'>
		<list:item>
			<li><a href="#item_{$id}" class="ord_link">{$name}</a>
		</list:item>
	</list:list>
	</ul>

	<div align="center">
		<a href="{$ctrlpath}/{$lastctrl}" class="back_link">( {$fb_back} )</a>
	</div>
	<br />

	<list:list id='fbList'>
		<list:item>
			<table class="cat_table" width="100%" cellspacing="0" cellpadding="4px" border="0">
			<tr class="cat_head"><td height="25px" onmousedown="tbToggle('tb_{$ListRowNumber}');">&nbsp;<img src="{$#imgpath}/button_win.gif" />&nbsp;<a name="item_{$id}">{$name}</a></td></tr>
			<tr><td><span id="tb_{$ListRowNumber}">
			<table width="100%" border="0" cellpadding="0px" cellspacing="12px" class="recrow_even"><tr><td>
			<ul>{$description}</ul>
			</td></tr></table>
			</span></td></tr>
			</table>
			<div align="right"><a href="#pagetop" class="top_link">( {$#fb_top} )</a></div>
			<br />
		</list:item>
		<br />
	</list:list>

	<div align="center">
		<a href="{$ctrlpath}/{$lastctrl}" class="back_link">( {$fb_back} )</a>
	</div>

