
<core:import file="/common.vars"/>
<core:import file="page.ini"/>

<core:include file="header.tpl.html"/>

<core:default for="noMenu">
<tr><td width="100%" align="center">
    <core:include file="menu.tpl.html"/>
</td></tr>
</core:default>

<tr><td width="100%" align="center">
	<table width="100%" cellspacing="4px" cellpadding="0" class="tb_line">
		<tr><td align="center" valign="top">
			<table width="100%" cellspacing="8px" cellpadding="0" bgcolor="{$fb_page_incolor}">
       			<tr><td>

<core:placeholder id="Content"/>

				</td></tr>
			</table>
		</td></tr>
	</table>
</td></tr>

<core:include file="footer.tpl.html"/>
