<a name="pagetop"></a>
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td align="center" valign="middle" colspan="5">
		<img src="{$imgpath}/button_null.gif" border="0" align="middle" />
		&nbsp;
		<html:link url="/news" title="{$fb_indexpg}"><img src="{$imgpath}/logo.gif" border="0" align="middle" /></html:link>
		&nbsp;
		<html:link url="/changelang" title="{$fb_changelang}"><img src="{$imgpath}/button_chglang.gif" border="0" align="middle" /></html:link>
		</td>
  	</tr>
  	<tr>
<list:list id='menuList'>
	<list:item>
  	<td valign="top"><table border="0" cellspacing="0" cellpadding="0" cols="3" rows="3">
		  <tr>
			<td align="center" colspan="3"><img src="{$#imgpath}/menu{$ListRowNumber}_top.gif" /></td>
		  </tr>
		  <tr>
			<td ><img src="{$#imgpath}/brack_left.gif" /></td>
			<td nowrap align="center" background="{$#imgpath}/menu{$ListRowNumber}_mid.gif" class="menu_bg">
			<html:link url="/$page" class="menu{$sel}_link" title="{$title}">{$name}</html:link></td>
			<td ><img src="{$#imgpath}/brack_right.gif" /></td>
		  </tr>
		  <tr>
			<td align="center" colspan="3"><img src="{$#imgpath}/menu{$ListRowNumber}_bot.gif" /></td>
		  </tr>
  	</table></td>
  	</list:item>
</list:list>
	</tr>
</table>
