<core:import file="/codelib.vars" />

<core:wrap file="main.tpl.html" placeholder="Content"/>

<table class="cat_table" width="100%" cellspacing="4px" cellpadding="6px" border="0" cols="2">
<tr><td class="cat_head" colspan="2">
	<core:include file="codelib_submenu.tpl.html"/>
</td></tr>

<tr><td class="recrow_even" colspan="2">
	<core:include file="codelib_catpath.tpl.html"/>
</td></tr>

<tr class="clib">
<td class="dir">
<div align="center">{$#fb_clib_dirs}</div>
<list:list id='codelib_catList'>
	<list:item>
		{$indent}<img src="{$#imgpath}/bullet_dir.gif" border="0">&nbsp;<html:link url="/codelib" param="catid" title="{$desc} ({$#fb_clib_snippets}: {$cnt})" class="link">{$name}</html:link> <small>({$cnt})</small><br />
	</list:item>
</list:list>
</td>

<td class="file">
<div align="center">{$#fb_clib_files}</div>
<list:list id='codelib_codeList'>
	<list:item>
		<img src="{$#imgpath}/bullet_file.gif" border="0">&nbsp;<html:link url="/codelib?section=view_code" param="id" title="{$description}" class="link">{$name}</html:link><br />
	</list:item>
</list:list>
</td>
</tr>

<tr><td class="recrow_even" colspan="2">
	<div align="center">
	<core:optional for="isLogged">
		<core:optional for="catid">
			[ <html:link url="/codelib?section=add_code" param="catid" class="menu_link" >{$#fb_clib_add}</html:link> ] &nbsp;
		</core:optional>
		<core:default for="catid">
			&nbsp;
		</core:default>
    </core:optional>
	<core:default for="isLogged">
		<core:optional for="parentId">
			[ <a href="{$#ctrlpath}/codelib?catid={$parentId}" class="back_link">{$#fb_clib_back}</a> ]
		</core:optional>
		<core:default for="parentId">
			&nbsp;
		</core:default>
	</core:default>

	<core:optional for="isAdmin">
		| &nbsp; [ <html:link url="/codelib?section=add_cat" param="catid" class="menu_link" >{$#fb_clib_addcat}</html:link> ] &nbsp;
		<core:optional for="catid">
			[ <html:link url="/codelib?section=del_cat" param="catid" class="menu_link">{$#fb_clib_delcat}</html:link> ] &nbsp;
			[ <html:link url="/codelib?section=edit_cat" param="catid" class="menu_link">{$#fb_clib_editcat}</html:link> ]
		</core:optional>
	</core:optional>
    </div>
</td></tr>

</table>
<br />
<br />
<br />
<br />
