<core:import file="/codelib.vars" />

<core:wrap file="main.tpl.html" placeholder="Content"/>

<table class="cat_table" width="100%" cellspacing="4px" cellpadding="6px" border="0">

<tr><td class="cat_head">
	<core:include file="codelib_submenu.tpl.html"/>
</td></tr>

<tr><td class="recrow_even">
	<core:include file="codelib_catpath.tpl.html"/>
</td></tr>

<form id="AddForm" name="AddForm" method="post" action="" runat="server">

<tr><td class="recrow_even">
	<core:optional for="isAdmin">
      		<div class="cl_form_field">
      			<div class="cl_form_label"><label for="name" runat="server">{$#fb_clib_name}</label></div>
      			<div class="cl_form_edit"><input class="cl_form_edit_i" name="name" type="text" id="name" size="32" runat="server"></div>
      		</div>
      		<div class="cl_form_field">
      			<div class="cl_form_label"><label for="desc" runat="server">{$#fb_clib_desc}</label></div>
      			<div class="cl_form_edit"><input class="cl_form_edit_i" name="desc" type="text" id="desc" size="64" runat="server"></div>
      		</div>
            <input name="parent" type="hidden" id="parent" runat="server">
	</core:optional>
</td></tr>

<tr><td class="recrow_even">
    <core:optional for="isAdmin">
            <div class="cl_form_button">
            	<input class="cl_form_button_i" type="submit" name="submit" value="{$#fb_clib_addcat}" runat="server">
            </div>
	</core:optional>
</td></tr>

</form>
</table>

<br />
<br />
<br />
<br />
