<core:import file="/codelib.vars" />

<core:wrap file="main.tpl.html" placeholder="Content"/>

<table class="cat_table" width="100%" cellspacing="4px" cellpadding="6px" border="0">

<tr><td class="cat_head">
	<core:include file="codelib_submenu.tpl.html"/>
</td></tr>

<tr><td class="recrow_even">
	<core:include file="codelib_catpath.tpl.html"/>
</td></tr>

<form id="DelForm" name="DelForm" method="post" action="" runat="server">
<tr><td class="recrow_even">
	<core:optional for="isLogged">
		<input name="id" id="id" type="hidden" runat="server">

		<div align="center">
			{$#fb_clib_del_msg} "{$name}", {$#fb_clib_confirm_msg}.
		</div>
		<br />
	</core:optional>
</td></tr>

<tr><td class="recrow_even">
	<core:optional for="isLogged">
		<div class="cl_div">
        	<div class="cl_form_button">
				<input class="cl_form_button_i" type="submit" name="delButton" value="{$#fb_clib_delete}" runat="server">
				<input class="cl_form_button_i" type="submit" name="cancelButton" value="{$#fb_clib_cancel}" runat="server">
            </div>
		</div>
	</core:optional>
</td></tr>
</form>

</table>
<br />
<br />
<br />
<br />
