<core:import file="/details.vars"/>

<core:wrap file="main.tpl.html" placeholder="Content"/>

<list:list id="recordList">
	<list:item>

	<table class="detail_frame" width="100%" cellspacing="0" cellpadding="6px" border="0" cols="2">

	<list:list id="fieldRecList">
		<list:item>
		<tr>
		<td align="right" width="20%" class="detail_name">{$name}</td>
		<td align="left" class="detail_value">{$value}</td>
		</tr>
		</list:item>
	</list:list>
	</table>

	<div align="right"><a href="#pagetop" class="top_link">( {$#fb_top} )</a></div>
	<br />

	</list:item>
</list:list>

	<div align="center">
	<a class="back_link" href="{$page}#{$category}">( {$fb_back} )</a>
	</div>



