<list:list id="categoryList">
	<list:item>

	<table class="cat_table" width="100%" align="center" cellspacing="0" cellpadding="2px">
	<tr class="cat_head">
	<td nowrap align="left" height="25px">
	&nbsp;<img src="{$#imgpath}/button_win.gif" onmousedown="tbToggle('cattb_{$ListRowNumber}');" />&nbsp;<a href="{$#ctrlpath}/viewall?page={$#page}&category={$orgname}" name="{$orgname}" title="{$#fb_viewall}">{$name}</a>
	</td>
	<tr>

	<tr><td width="100%">
	<span id="cattb_{$ListRowNumber}">
	<table width="100%" cellspacing="0" cellpadding="4px" border="0">

	<tr class="field_head">
	<list:list id="fieldHeadList">
		<list:item>
		<td nowrap height="28px" {$attributes}>{$name}</td>
		</list:item>
	</list:list>
	<td width="18px"></td>
	</tr>

	<list:list id="recordList">
		<list:item>
		<tr class="recrow_{$Parity}">
		<list:list id="fieldList">
			<list:item>
				<td>{$text}</td>
			</list:item>
		</list:list>
				<td align="right"><a href="{$#ctrlpath}/details?page={$#page}&category={$^orgname}&id={$id}" title="{$#fb_details}"><img src="{$#imgpath}/button_see.gif" border="0" width="18" height="18"></a></td>
		</tr>
		</list:item>
	</list:list>

	</table>
	</span>
	</td></tr>

	</table>

	<div align="right"><a href="#pagetop" class="top_link">( {$#fb_top} )</a></div>
	<br />

	</list:item>
</list:list>

