<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset={$page_charset}" />
<meta http-equiv='Content-Language' content='{$page_lang}'>
<meta name="description" content="{$fb_page_description}">
<meta name="keywords" content="{$fb_page_keywords}">

<title>{$fb_page_title} - {$page_subtitle}</title>

<style type="text/css">
<core:include file="style.css"/>
</style>

<script type="text/javascript">
	function tbToggle(id) {
		elm = document.getElementById(id);
		if(elm.style.visibility == "hidden") {
			elm.style.display = "block";
			elm.style.visibility = "visible";
		} else {
			elm.style.visibility = "hidden";
			elm.style.display = "none";
		}
	}
</script>
</head>

<body bgcolor="{$fb_page_sidecolor}" background="{$imgpath}/horse_bg.gif" color="{$fb_page_fontcolor}" link="{$fb_page_fontcolor}" vlink="{$fb_page_fontcolor}">
<table bgcolor="{$fb_page_color}" width="{$fb_page_width}" align="center" border="0" cellpadding="8px" cellspacing="0">


