<core:import file="/about.vars" />

<core:wrap file="main.tpl.html" placeholder="Content"/>

<table class="cat_table" width="100%" cellspacing="4px" cellpadding="6px" border="0">
<tr><td class="recrow_even">
	<br/>
	<p align="center">{$fb_about_head}</p>
	<div align="center"><img src="{$imgpath}/logo-med.gif"></div>
	<br />
	<div align="center">{$fb_about_list}:</div>
	<br />
	<div align="center">
	<list:list id='fbList'>
		<list:item>
			<html:link url="/about" param="section" class="menu_link" title="{$desc}">( {$name} )</html:link> &nbsp; &nbsp;
		</list:item>
	</list:list>
	</div>
	<br />
	<br />

</td></tr>
</table>
<br />
<br />
<br />
<br />
