<core:import file="/codelib.vars" />

<core:wrap file="main.tpl.html" placeholder="Content"/>

<table class="cat_table" width="100%" cellspacing="4px" cellpadding="6px" border="0">

<tr><td class="cat_head">
	<core:include file="codelib_submenu.tpl.html"/>
</td></tr>

<tr><td class="recrow_even">
	<core:include file="codelib_catpath.tpl.html"/>
</td></tr>

<form id="LoginForm" name="LoginForm" method="post" action="" runat="server">

<tr><td class="recrow_even">
	<div align="center">
		{$#fb_clib_login_msg}
	</div>
<br />
	<div class="cl_form_field">
		<div class="cl_form_label"><label for="username" runat="server">{$#fb_clib_name}</label></div>
		<div class="cl_form_edit"><input class="cl_form_edit_i" name="username" type="text" id="username" size="32" runat="server"></div>
	</div>
	<div class="cl_form_field">
		<div class="cl_form_label"><label for="password" runat="server">{$#fb_clib_pwd}</label></div>
		<div class="cl_form_edit"><input class="cl_form_edit_i" name="password" type="password" id="password" size="16" runat="server"></div>
	</div>
</td></tr>

<tr><td class="recrow_even">
	<div class="cl_form_button">
		<input class="cl_form_button_i" type="submit" name="submit" value="{$#fb_clib_login}" runat="server">
	</div>
</td></tr>

</form>
</table>

<br />
<br />
<br />
<br />
