<core:import file="/codelib.vars" />

<core:wrap file="main.tpl.html" placeholder="Content"/>

<table class="cat_table" width="100%" cellspacing="4px" cellpadding="6px" border="0">

<tr><td class="cat_head">
	<core:include file="codelib_submenu.tpl.html"/>
</td></tr>

<tr><td class="recrow_even">
	<core:include file="codelib_catpath.tpl.html"/>
</td></tr>

<form id="EditForm" name="EditForm" method="post" action="" runat="server">
<tr><td class="recrow_even">
	<core:optional for="isLogged">
        <input name="id" id="id" type="hidden" runat="server">

      	<div class="cl_form_field">
      		<div class="cl_form_label"><label for="name" runat="server">{$#fb_clib_name}</label></div>
      		<div class="cl_form_edit"><input class="cl_form_edit_i" name="name" id="name" type="text" size="32" runat="server"></div>
      	</div>
      	<div class="cl_form_field">
      		<div class="cl_form_label"><label for="desc" runat="server">{$#fb_clib_desc}</label></div>
      		<div class="cl_form_edit"><input class="cl_form_edit_i" name="desc" id="desc" type="text" size="64" runat="server"></div>
      	</div>

		<div class="cl_div">
			<label for="code" runat="server"><b>{$#fb_clib_code}</b></label><br />
			<textarea class="cl_form_text_i" name="code" id="code" rows="25" wrap="off" runat="server"></textarea>
		</div>
	</core:optional>
</td></tr>

<tr><td class="recrow_even">
	<core:optional for="isLogged">
		<div class="cl_div">
           	<div class="cl_form_button">
           		<input class="cl_form_button_i" type="submit" name="saveButton" value="{$#fb_clib_save}" runat="server">
           		<input class="cl_form_button_i" type="submit" name="cancelButton" value="{$#fb_clib_cancel}" runat="server">
           	</div>
        </div>
	</core:optional>
</td></tr>
</form>

</table>
<br />
<br />
<br />
<br />
