<core:import file="/codelib.vars" />

<core:wrap file="main.tpl.html" placeholder="Content"/>

<table class="cat_table" width="100%" cellspacing="4px" cellpadding="6px" border="0">

<tr><td class="cat_head">
	<core:include file="codelib_submenu.tpl.html"/>
</td></tr>

<tr><td class="recrow_even">
	<core:include file="codelib_catpath.tpl.html"/>
</td></tr>

<tr><td class="recrow_even">
    <div class="cl_form_field">
    	<div class="cl_form_label">{$#fb_clib_name}</div>
    	<div class="cl_form_edit">{$name}</div>
    </div>
    <div class="cl_form_field">
    	<div class="cl_form_label">{$#fb_clib_desc}</div>
    	<div class="cl_form_edit">{$desc}</div>
    </div>
    <div class="cl_form_field">
    	<div class="cl_form_label">{$#fb_clib_author}</div>
    	<div class="cl_form_edit">{$author_name} (<a href="mailto:{$author_email}"><small>{$author_email}</small></a>)</div>
    </div>
	<div class="cl_div">
		<b>{$#fb_clib_code}</b>

		<list:list id='snippetList'>
			<list:item>
				<div class="cl_show_text">{$text}</div>
				<br />
			</list:item>
		</list:list>
	</div>

</td></tr>

<tr><td class="recrow_even">
	<div align="center">
	<core:optional for="isOwner">
		[ <html:link url="/codelib?section=edit_code" param="id" class="menu_link" >{$#fb_clib_edit}</html:link> ] &nbsp;
		[ <html:link url="/codelib?section=del_code" param="id" class="menu_link" >{$#fb_clib_del}</html:link> ] &nbsp;
	</core:optional>
	<core:default for="isOwner">
		[ <html:link url="/codelib" param="catid" class="back_link">{$#fb_clib_back}</html:link> ]
	</core:default>
	</div>
</td></tr>

</table>
<br />
<br />
<br />
<br />
