<!--
body {
	margin: 8px 4px 8px 4px;
	font-family:Arial, Helvetica, sans-serif;
	background-repeat: no-repeat;
	font-size: {$fb_page_fontsize};
}

a, p, div, span, td, li {
	font-size: {$fb_page_fontsize};
}

li {
	margin-left: -1em;
}


a:link, a:active, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #5c5c8e;
}


/* menu */

.menu_bg {
	background-position: center;
	background-repeat: no-repeat;
}

.menu_link {
	font-size: {$fb_page_fontsize};
	font-weight: bold;
}

.menusel_link {
	color:#5c5c8e;
	font-size: {$fb_page_fontsize};
	font-weight: bold;
}

/* other */

.ord_link {
	font-size: {$fb_page_fontsize};
}

.back_link {
	font-size: {$fb_page_fontsize};
	font-weight: bold;
}

.top_link {
	font-size: 9pt;
}

.detail_link {
	font-size: {$fb_page_fontsize};
}

.ord_text {
	font-size: {$fb_page_fontsize};
}

.copy_text {
	font-size: 7pt;
	font-weight: bold;
	color: #aaaaaa;
}

.about_text {
	font-size: {$fb_page_fontsize};
}

/* tables */

.tb_line {
	border: 1px solid #e0e0d7;
}

.cat_table {
	border: 1px solid #d9d9c9;
}

.cat_head {
	font-weight: bold;
	background: #d9d9c9 repeat-x url({$imgpath}/cathead_bg.gif);
}

.field_head {
	font-weight: bold;
	background: #efefe7 repeat-x url({$imgpath}/fieldhead_bg.gif);
}

.recrow_odd { }

.recrow_even {
	background-color: #efefef;
}

.detail_frame {
	border-top: 1px solid #d9d9c9;
	border-left: 1px solid #d9d9c9;
	border-right: 1px solid #d9d9c9;
}

.detail_name {
	font-weight: bold;
	background: #efefe7;
	border-bottom: 1px solid #d9d9c9;
}

.detail_value {
	border-bottom: 1px solid #d9d9c9;
}

/* code lib */

.cl_menu_link {
	font-weight: bold;
}

.cl_menusel_link {
	color:#5c5c8e;
	font-weight: bold;
}

.cl_path_desc {
	text-align: center;
	margin-top: 4pt;
}

.clib {  }

.clib .dir, .clib .file {
	width: 50%;
	padding: 8pt 8pt 24pt 8pt;
	vertical-align: top;
	background-color: #efefef;
}

.clib .dir .link, .clib .file .link {
	font-weight: bold;
}

.cl_form_field {
   width: 100%;
   margin-top: 6pt;
   margin-bottom: 6pt;
}

.cl_form_label, .cl_form_button_i {
   font-weight: bold;
   vertical-align: middle;
}

.cl_form_label {
   float: left;
   width: 25%;
   text-align: right;
}

.cl_form_edit {
   float: right;
   width: 73%;
   text-align: left;
}

.cl_form_edit_i {
	border: 1px solid #e0e0e0;
}

.cl_form_button {
   text-align: center;
}

.cl_form_button_i {
	border: 1px solid #e0e0e0;
	background-color: #ffffff;
	padding: 2pt 4pt 2pt 4pt;
}

.cl_form_text_i, .cl_show_text {
	margin-top: 6pt;
	border: 1px solid #e0e0e0;
	background-color: #ffffff;
}

.cl_form_text_i {
	width: 100%;
}

.cl_show_text {
	padding: 6pt;
}

.cl_hline {
   width: 100%;
   height: 1px;
   border: 0px;
   color: #e0e0d7;
   background-color: #e0e0d7;
}

.cl_div {
   width: 100%;
   clear: both;
}

.cl_div_l, .cl_div_r {
   text-align: left;
   vertical-align: middle;
}

.cl_div_l {
   float: left;
}

.cl_div_r {
   float: right;
}

/* syntax highlight */

.qbasic { font-family:Fixedsys, Courier New; }
.qbasic .imp {font-weight: bold; color: #ff0000;}
.qbasic .kw1 {color: #0000aa;}
.qbasic .kw2 {color: #0000aa;}
.qbasic .kw3 {color: #aa0000;}
.qbasic .co1 {color: #006060;}
.qbasic .co2 {color: #006060;}
.qbasic .es0 {color: #000099;}
.qbasic .br0 {color: #66b066;}
.qbasic .st0 {color: #606060;}
.qbasic .nu0 {color: #aa0000;}

-->
