
<FilesMatch "(.ini|pages|templates|.inc.php)$">
	Order allow,deny
	Deny from all
</FilesMatch>

# Set the default documents
DirectoryIndex index.php

# Disallow directory browsing
Options -Indexes

# Disable magic quotes
php_value magic_quotes_gpc 0
php_value magic_quotes_runtime 0
php_value magic_quotes_sybase 0

# Disabled registering of globals and arg*
php_value register_globals 0
php_value register_argc_argv 0

# Disallow some security holes
php_value allow_call_time_pass_reference 0
php_value allow_url_fopen 1
php_flag short_open_tag On
php_flag enable_dl Off

#
php_flag zend.ze1_compatibility_mode Off

# attempts to stop the Santy worm
RewriteEngine On
RewriteCond %{QUERY_STRING} ^(.*)wget%20 [OR]
RewriteCond %{QUERY_STRING} ^(.*)echr(.*) [OR]
RewriteCond %{QUERY_STRING} ^(.*)esystem(.*) [OR]
RewriteCond %{QUERY_STRING} ^(.*)highlight=%2527 [OR]
RewriteCond %{HTTP_USER_AGENT} lwp-trivial [NC,OR]
RewriteCond %{HTTP_COOKIE}% s:(.*):%22test1%22%3b
RewriteRule ^.*$ http://127.0.0.1/ [L,R=301]
