/***************************************************************************
 *                               styles.css
 *                            -------------------
 *   begin                : Tuesday', Aug 15', 2002
 *   copyright            : ('C) 2002 Bugada Andrea
 *   email                : phpTM@free.fr
 *
 *   $Id$
 *
 *
 ***************************************************************************/

/***************************************************************************
 *
 *   This program is free software; you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation; either version 2 of the License', or
 *   ('at your option) any later version.
 *
 ***************************************************************************/

body {
	margin: 8px 4px 8px 4px;
	font-family:Arial, Helvetica, sans-serif;
	background-repeat: no-repeat;
	font-size: 10pt;
}

a, p, div, span, td, th, li {
	font-size: 10pt;
}

a:link, a:active, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #5c5c8e;
}

.font_small {
	font-size: 8pt;
}

.font_big {
	font-size: 14pt;
	font-weight: bold;
	color: #6f5f4f;
}

.tb_top {
	border: 0px solid;
	width: 100%;
	background-color: #d9d9c9;
}

.tb_bar {
	border: 0px solid;
	width: 100%;
	background-color: #f5f5f5;
	margin: 2px 0px 0px 0px;
}

.tb_dir_list {
	border: 1px solid #e0e0d7;
	width: 100%;
}

.tb_top th, .tb_dir_list th {
	background-color: #d9d9c9;
	background: #d9d9c9 repeat-x url(images/cathead_bg.gif);
	text-align: left;
	padding: 4px;
}

.tb_dir_list td {
	padding: 4px;
}

.tb_dir_list_tr {
	background-color: #efefe7;
	vertical-align: top;
}

.copy_text {
	font-size: 7pt;
	font-weight: bold;
	color: #aaaaaa;
}
.vform
{
	color: #333366;
	background-color: #FFFFFF;
	border: 1px solid #e0e0e0;
}

.row1
{
	color: #000000;
	background-color: #F5F5F5;
}

.row2
{
	color: #000000;
	background-color: #F5F5F5;
}

.gensmall
{
	font-size: 10px;
	color: #000000;
	background-color: #F5F5F5;
}

.thHead
{
	font-style: bold;
	color: #FFFFFF;
	background-color: #4682B4;
}