/* General page style. The scroll bar colours only visible in IE5.5+ */
body {
        margin: 8px 4px 8px 4px;
        background-color: #efefe7;
        background-repeat: no-repeat;
        background-image: url(images/horse_bg.gif);
}

/* General font families for common tags */
font,th,td,p { font-family: Verdana, Arial, Helvetica, sans-serif }
a:link,a:active,a:visited { color : #000000; }
a:hover                { text-decoration: underline; color : #5c5c8e; }
hr        { height: 0px; border: solid #e7e7e7 0px; border-top-width: 1px;}

/* This is the border line & background colour round the entire page */
.bodyline        { background-color: #FFFFFF; }

/* This is the outline round the main forum tables */
.forumline        { background-color: #FFFFFF; border: 1px #e7e7e7 solid; }

/* Main table cell colours and backgrounds */
td.row1        { background-color: #f3f3f3; }
td.row2        { background-color: #e7e7e7; }
td.row3        { background-color: #e7e7e7; }

/*
  This is for the table cell above the Topics, Post & Last posts on the index.php page
  By default this is the fading out gradiated silver background.
  However, you could replace this with a bitmap specific for each forum
*/
td.rowpic {
                background-color: #FFFFFF;
                background-image: url(images/cellpic2.gif);
                background-repeat: repeat-y;
}

/* Header cells - the blue and silver gradient backgrounds */
th        {
        color: #333333; font-size: 9pt; font-weight : bold;
        background-color: #E0E0E0; height: 25px;
        background-image: url(images/cellpic3.gif);
}

td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom {
                        background-image: url(images/cellpic1.gif);
                        background-color:#F0F0F0; border: #e7e7e7; border-style: solid; height: 28px;
}

/*
  Setting additional nice inner borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it :-)
*/
td.cat,td.catHead,td.catBottom {
        height: 29px;
        border-width: 0px 0px 0px 0px;
}
th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR {
        font-weight: bold; border: #FFFFFF; border-style: solid; height: 28px;
}
td.row3Right,td.spaceRow {
        background-color: #F0F0F0; border: #e7e7e7; border-style: solid;
}

th.thHead,td.catHead { font-size: 9pt; border-width: 1px 1px 0px 1px; }
th.thSides,td.catSides,td.spaceRow         { border-width: 0px 1px 0px 1px; }
th.thRight,td.catRight,td.row3Right         { border-width: 0px 1px 0px 0px; }
th.thLeft,td.catLeft          { border-width: 0px 0px 0px 1px; }
th.thBottom,td.catBottom  { border-width: 0px 1px 1px 1px; }
th.thTop         { border-width: 1px 0px 0px 0px; }
th.thCornerL { border-width: 1px 0px 0px 1px; }
th.thCornerR { border-width: 1px 1px 0px 0px; }

/* The largest text used in the index page title and toptic title etc. */
.maintitle        {
        font-weight: bold; font-size: 14pt; font-family: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
        text-decoration: none; line-height : 120%; color : #000000;
}

/* General text */
.gen { font-size : 9pt; }
.genmed { font-size : 9pt; }
.gensmall { font-size : 8pt; }
.gen,.genmed,.gensmall { color : #000000; }
a.gen,a.genmed,a.gensmall { color: #000000; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover        { color: #5c5c8e; text-decoration: underline; }

/* The register, login, search etc links at the top of the page */
.mainmenu                { font-size : 9pt; color : #000000 }
a.mainmenu                { text-decoration: none; color : #000000;  }
a.mainmenu:hover{ text-decoration: underline; color : #5c5c8e; }

/* Forum category titles */
.cattitle                { font-weight: bold; font-size: 9pt ; letter-spacing: 1px; color : #000000}
a.cattitle                { text-decoration: none; color : #000000; }
a.cattitle:hover{ text-decoration: underline; }

/* Forum title: Text and link to the forums used in: index.php */
.forumlink                { font-weight: bold; font-size: 10pt; color : #000000; }
a.forumlink         { text-decoration: none; color : #000000; }
a.forumlink:hover{ text-decoration: underline; color : #5c5c8e; }

/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav                        { font-weight: bold; font-size: 9pt; color : #000000;}
a.nav                        { text-decoration: none; color : #000000; }
a.nav:hover                { text-decoration: underline; }

/* titles for the topics: could specify viewed link colour too */
.topictitle,h1,h2        { font-weight: bold; font-size: 9pt; color : #000000; }
a.topictitle:link   { text-decoration: none; color : #000000; }
a.topictitle:visited { text-decoration: none; color : #000000; }
a.topictitle:hover        { text-decoration: underline; color : #5c5c8e; }

/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name                        { font-size : 8pt; color : #000000;}

/* Location, number of posts, post date etc */
.postdetails                { font-size : 7pt; color : #000000; }

/* The content of the posts (body of text) */
.postbody { font-size : 9pt; line-height: 18px}
a.postlink:link        { text-decoration: none; color : #00008e }
a.postlink:visited { text-decoration: none; color : #000000; }
a.postlink:hover { text-decoration: underline; color : #5c5c8e}

/* Quote & Code blocks */
.code {
        font-family: Courier, 'Courier New', sans-serif; font-size: 9pt; color: #000000;
        background-color: #FFFFFF; border: #e7e7e7; border-style: solid;
        border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
        white-space: nowrap;
        overflow: auto;
}

.quote {
        font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000; line-height: 125%;
        background-color: #F7F7F7; border: #e7e7e7; border-style: solid;
        border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
        overflow: auto;
}

/* Copyright and bottom info */
.copyright                { font-size: 7pt; font-family: Verdana, Arial, Helvetica, sans-serif; color: #000000; letter-spacing: -1pt;}
a.copyright                { color: #000000; text-decoration: none;}
a.copyright:hover { color: #5c5c8e; text-decoration: underline;}

/* Form elements */
input,textarea, select {
        color : #000000;
        font: normal 8pt Verdana, Arial, Helvetica, sans-serif;
        border-color : #000000;
}

/* The text input fields background colour */
input.post, textarea.post, select {
        background-color : #FFFFFF;
}

input { text-indent : 2px; }

/* The buttons used for bbCode styling in message post */
input.button {
        background-color : #fafafa;
        color : #000000;
        font-size: 9pt; font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* The main submit button option */
input.mainoption {
        background-color : #F7F7F7;
        font-weight : bold;
}

/* None-bold submit button */
input.liteoption {
        background-color : #F7F7F7;
        font-weight : normal;
}

/* This is the line in the posting page which shows the rollover
  help line. This is actually a text box, but if set to be the same
  colour as the background no one will know ;)
*/
.helpline { background-color: #F0F0F0; border-style: none; }

/* Import the fancy styles for IE only (NS4.x doesn't use the @import function) */
@import url("formIE.css");

/* syntax highlight */

.qbasic { font-family:Courier New, Fixedsys; overflow: auto; }
.qbasic .imp {font-weight: bold; color: #ff0000;}
.qbasic .kw1 {color: #0000aa;}
.qbasic .kw2 {color: #0000aa;}
.qbasic .kw3 {color: #aa0000;}
.qbasic .co1 {color: #006060;}
.qbasic .co2 {color: #006060;}
.qbasic .es0 {color: #000099;}
.qbasic .br0 {color: #66b066;}
.qbasic .st0 {color: #606060;}
.qbasic .nu0 {color: #aa0000;}
