body { 	
	margin: 8pt; 
	font-color: #000000;
	font-family: Arial, sans-serif, verdana;	
	font-size: 10pt;	
}

a {
	font-weight: bold;
	text-decoration: none;
	color: #4c4c7e;
}

a:hover {
	text-decoration: underline;
	color: #aa0000;
}

ul { list-style: square; }
	
li {
	padding-bottom: 4pt;
}

hr { 
	border: 0;
	height: 1px;
}

#fb_tab { 
   padding: 8pt 12pt 8pt 12pt; 
   background: #efefdf; 
   color: #aa0000; 
   border-bottom: 1px solid #8f8f8f; 
   width: 100%; 
} 

#fb_tab_l, #fb_tab_r { 
   font-weight: bold; 
   font-size: 12pt; 
   vertical-align: middle; 
} 

#fb_tab_l { 
   text-align: left; 
   float: left; 
} 

#fb_tab_r { 
   text-align: right; 
   float: right; 
} 

#fb_pg_body {
	border-right: 1px solid #afaf9f;
	border-left: 1px solid #afaf9f;
	border-bottom: 1px solid #afaf9f;
	background: #e9e9d9;
	clear: both;
	width: 100%;
	padding: 8pt 8pt 8pt 8pt;
}

.fb_sect_title, .fb_header {
	padding-top: 4pt;
	margin-bottom: -10pt;
	font-weight: bold;	
	text-decoration: underline;
}

.fb_sect_cont {
	padding-bottom: 4pt;
	margin-left: 16pt;
	text-align: left;
}

.fb_sect_cont ul {
	margin-top: 0;
	margin-left: 10pt;
}

.fb_table {
	margin: 8pt 14pt 8pt -1px;
}

.fb_table td {
	border: solid 1px #afaf9f;
	background: #dfdfcf;
	padding: 4pt;
	font-size: 9pt;
}

.fb_pre {
	white-space: pre;
	background: #dfdfcf;
	margin: 8pt 14pt 8pt -1px;
	padding: 12pt;
}

#fb_back {
	background:#e9e9d9; 
	border: 1px solid #afaf9f; 
	padding: 4pt 8pt 4pt 8pt;
	margin-top: 4pt;
	float: right;
}

.fb_boxleft, .fb_boxright {
	padding: 16pt 8pt 6pt 8pt;
	float:left;
	width:45%;
}

.qbasic {
	background: #dfdfcf;
	padding: 12pt;
	margin-right: 14pt;
}

.qbasic .imp {font-weight: bold; color: #ff0000;} 
.qbasic .kw1 {color: #800080;} 
.qbasic .kw3 {color: #000080;}
.qbasic .co1 {color: #606060;} 
.qbasic .co2 {color: #606060;} 
.qbasic .es0 {color: #000099;} 
.qbasic .br0 {color: #66b066;} 
.qbasic .st0 {color: #008000;} 
.qbasic .nu0 {color: #800000;}