#include "windows.h"

#include "menures.bi"

IDC_MAINMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM TITLEM_FILE_NEW,           IDM_FILE_NEW
        MENUITEM TITLEM_FILE_OPEN,          IDM_FILE_OPEN
    	POPUP "&Project"
    	BEGIN
        	MENUITEM TITLEM_PROJECT_NEW,    IDM_PROJECT_NEW
        	MENUITEM TITLEM_PROJECT_OPEN,	IDM_PROJECT_OPEN
    	END
        MENUITEM TITLEM_FILE_CLOSE, 		IDM_FILE_CLOSE
        MENUITEM SEPARATOR
        MENUITEM TITLEM_FILE_EXIT,			IDM_FILE_EXIT
    END

 	POPUP "&Edit"
 	BEGIN
    	MENUITEM TITLEM_EDIT_UNDO,			IDM_EDIT_UNDO
    	MENUITEM TITLEM_EDIT_REDO,			IDM_EDIT_REDO
    	MENUITEM SEPARATOR
    	MENUITEM TITLEM_EDIT_CUT,			IDM_EDIT_CUT
    	MENUITEM TITLEM_EDIT_COPY,			IDM_EDIT_COPY
    END

 	POPUP "&Search"
    BEGIN
    	MENUITEM TITLEM_SEARCH_FIND,		IDM_SEARCH_FIND
    	MENUITEM TITLEM_SEARCH_FINDNEXT,	IDM_SEARCH_FINDNEXT
    	MENUITEM TITLEM_SEARCH_FINDPREV,	IDM_SEARCH_FINDPREV
    	MENUITEM TITLEM_SEARCH_REPLACE,		IDM_SEARCH_REPLACE, MF_MENUBARBREAK
	END
	
END
